apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-server
  namespace: basestation-platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka-server
  template:
    metadata:
      labels:
        app: eureka-server
    spec:
      automountServiceAccountToken: false
      containers:
      - name: eureka-server
        image: eureka-server:1.0.0
        ports:
        - containerPort: 8761
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
            ephemeral-storage: "1Gi"
          limits:
            memory: "1Gi"
            cpu: "500m"
        env:
        - name: SERVER_PORT
          value: "8761"
---
apiVersion: v1
kind: Service
metadata:
  name: eureka-server
  namespace: basestation-platform
spec:
  selector:
    app: eureka-server
  ports:
  - port: 8761
    targetPort: 8761

