apiVersion: v1
kind: Secret
metadata:
  name: postgres-secrets
  namespace: basestation-platform
type: Opaque
stringData:
  basestation-db: basestationdb
  basestation-user: postgres
  basestation-password: OaMMMTJ/xL2l8e3TaDC4N8JCdrvQNrQn
  notification-db: notificationdb
  notification-user: postgres
  notification-password: pIuIXoZQFafF+v00G06YikRYl/aotPs8
  auth-db: authdb
  auth-user: postgres
  auth-password: 3G6pFKJ8l+8Egxn9wOAYU6JnAUvMm1ap
---
apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
  namespace: basestation-platform
type: Opaque
stringData:
  username: admin
  password: 5JneBp3E085oN4sVYd2Rlfs5qhuWJE4X
---
apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secret
  namespace: basestation-platform
type: Opaque
stringData:
  username: admin
  password: VixsjXEj+tIP6NyA7C5uqa54vjphU91I
---
apiVersion: v1
kind: Secret
metadata:
  name: jwt-secret
  namespace: basestation-platform
type: Opaque
stringData:
  secret: OSOTGWeRr2vZbhcmcI5sKiUTQZjmgRx25UkDU2YKG92zrdPezgOMrOQJBmM56pwHIbzH7SEo4Vw43QjdXQSPiA==
---
apiVersion: v1
kind: Secret
metadata:
  name: security-internal-secret
  namespace: basestation-platform
type: Opaque
stringData:
  secret: 1b4476e3b8980f3090f6f81e89ad26e1fac5d0bf5526d4987756e2a76015115f
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-secret
  namespace: basestation-platform
type: Opaque
stringData:
  password: mLHeriJkCC+qw7etCXTHde5wRRH66Asm
